@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');


:root{
    --clr-accent-400: hsl(12, 88%, 59%);
    --clr-accent-300: hsl(12, 70%, 48%);
    --clr-accent-100: hsl(13, 100%, 96%);

    --clr-primary-400: hsl(228, 39%, 23%);

    --clr-neutral-900: hsl(233, 12%, 13%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-primary: 'Be Vietnam Pro', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: .8125rem;
    --fs-400: .875rem;
    --fs-500: .9375rem;
    --fs-600: 1rem;
    --fs-625: 1.1rem;
    --fs-650: 1.3rem;
    --fs-700: 1.875rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem;

    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-nav: var(--fs-500);
    --fs-button: var(--fs-300);

    --size-100: .25rem;
    --size-200: .5rem;
    --size-300: .75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;

    --flow-100: 1rem;
    --flow-200: 2.5rem;
}

@media (min-width: 50em) {
    :root {
        --fs-700: 3.5rem;
        --fs-600: 2.1rem;

        --fs-body: var(--fs-500);
        --fs-primary-heading: var(--fs-900);
        --fs-secondary-heading: var(--fs-800);
        --fs-nav: var(--fs-300);

    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

html:focus-within{
    scroll-behavior: smooth;
}

html,body{
    height: 100%;
}

body{
    line-height: 1.5;
}

img,
picture,
svg{
    max-width: 100%;
    display: block;
}

ul{
  list-style-type: none;
}

li {
    font-size: inherit;
}

/* Utility Classes */

.text-primary-400 {
    color: var(--clr-accent-400)
}

.text-accent-400 {
   color: var(--clr-primary-400);
}

.text-accent-100 {
    color: var(--clr-accent-100);
}

.text-neutral-100 {
    color: var(--clr-neutral-100);
}

.bg-primary-400 {
    background-color: var(--clr-primary-400)
}

.bg-accent-400 {
    background-color: var(--clr-accent-400);
}

.bg-accent-100 {
    background-color: var(--clr-accent-100);
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}

.bg-neutral-900 {
    background-color: var(--clr-neutral-900)
}

.fw-bold { font-weight: var(--fw-bold); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-regular { font-weight: var(--fw-regular); }

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1.1;
}
.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
    line-height: 1.1;
}

.fs-300 { font-size: var(--fs-300); }
.fs-400 { font-size: var(--fs-400); }
.fs-500 { font-size: var(--fs-500); }
.fs-600 { font-size: var(--fs-600); }
.fs-650 { font-size: var(--fs-650); }
.fs-700 { font-size: var(--fs-700); }


.padding-block-300{
    padding-block: var(--size-300);
}

.padding-block-400{
    padding-block: var(--size-400);
}

.padding-block-500{
    padding-block: var(--size-500);
}

.padding-block-600{
    padding-block: var(--size-600);
    padding-top: 100px;
}

.padding-block-700{
    padding-block: var(--size-700);
}

.padding-block-750{
    padding: 4rem 0.5rem;
}

.padding-block-800{
    padding: 4rem 0.5rem 2rem;
}

.padding-block-900{
    padding: 4rem 0rem 8rem;
}


.margin-below{
    margin-bottom: 3rem;
}

.container {
    --max-width: 1350px ;
    --padding: 3rem;

    width: min(var(--max-width), 100% - (var(--padding)*2));
    margin-inline: auto;
}

.even-columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 1rem;
}

.more-columns {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "heading heading null null button "
    ;
}

:where(.flow-100 :not(:first-child)) {
    margin-top: var(--flow-100);
}

:where(.flow-200 :not(:first-child)) {
    margin-top: var(--flow-200);
}

.left-div{
    grid-area: heading;
}

.right-div {
    grid-area: button;
}


.grid {
    display: grid;
}

.text-align {
    text-align: center;
}

.grid-items-center{
    place-items: center;
}

.padding-left {
    padding-left: 10rem;
}

.padding-right {
    padding-right: 5rem;
}

.remove-padding-left {
    padding-left: 0;
}

.remove-padding-right {
    padding-right: 0;
}



/* general styling */


body{
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    color: var(--clr-primary-400);
}

footer {
    background-color: var(--clr-neutral-900);
}

p{
    opacity: 0.7;
    position: relative;
    margin-inline: auto;
    padding-right: 5rem;
    padding-left: 3rem;
}

li :not([class]) {
    font-size: var(--fs-500);
}

li{
    font-size: var(--fs-550) ;
}


/* button */

.button{
    border: 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 80px;
    padding: 1em 2.5em;
    font-weight: var(--fw-bold);
    font-size: var(--fs-button);
    color: var(--clr-neutral-100);
    background: var(--clr-accent-400);
    box-shadow: 0 0.7em 1em -1em red;
}

.button[data-type="inverted"]{
    background-color: var(--clr-neutral-100);
    color: var(--clr-accent-400);

}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
    background-color: #e9e9e9;
    color: var(--clr-accent-400);
}

.button:hover,
.button:focus-visible {
    background: var(--clr-accent-300);
    box-shadow: 0 0 1em -1em rgb(0, 0, 0);
    transform: scale(1.04);
    transition: box-shadow .5s ease, transform 0.1s ease;
}

.nav-wrapper {
    margin-top: var(--size-700);
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.primary-header a img {
    display: block;
    width: 180px;
    height: auto;
}

.primary-navigation {
    flex-grow: 1;
    margin-inline: 30px;
}

.mobile-nav-toggle {
    display: none;
}

.nav-list{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: var(--fs-nav);
    font-weight: var(--fw-semi-bold);
}

.nav-list a {
    text-decoration: none;
    color: var(--clr-primary-400);
}

.nav-list a:hover,
.nav-list a:focus {
    color: var(--clr-accent-400);
}


.Hero-grid {
    display: flex;
    column-gap: 2.5rem;
    flex-direction: row;
    justify-items: center;
}

.Hero-grid-div1{
    flex-grow: 1;
    flex-shrink: 10;
}

.features-heading {
    padding-right: 2rem ;
}

.features h3 {
    font-size: 1rem;
}

/* numbered items */

.numbered-items {
    counter-reset: count;

}

.numbered-items li {
    counter-increment: count;
}

.numbered-items div {
    display: relative;
    margin: 0 auto;
    max-width: fit-content;
    display: grid;
    position: relative;
    gap: 1rem;
    align-items: center;
    grid-template-columns: min-content 1fr;
}

.numbered-items div::before {
    display: flex;
    place-items: center;
    content: "0" counter(count);
    background-color: var(--clr-accent-400);
    color: var(--clr-accent-100);
    font-weight: var(--fw-bold);
    padding: var(--size-200) var(--size-500);
    border-radius: 20px;
    height: 1.5rem;
}

.features p {
    padding-right: 6rem;
    grid-column: 2 / 3;
}

.carousel .button-div {
    display: grid;
    justify-content: center;
}

.carousel h2 {
    margin-bottom: 55px;
}

.carousel button {
    margin-top: 100px;
}

/* slider */

.slider:hover {
    cursor:default;
}

.slider {
    display: flex;
}

.slider > * {
    flex: 0 0 auto;
    width: 50%;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.slider img {
transform: scale(0.8);
}

.slider h3 {
    margin: 15px ;
}

.slider p {
    padding: 0;
    font-size: var(--size-400);
    width: max(19rem, 25vw) ;
    height: 120px;
}

/* cta */
.cta {
    position: relative;
    z-index: 0;
    isolation: isolate;
}

.cta::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url("images/bg-tablet-pattern.svg"), url("images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: -10rem -1rem, 65rem -33rem;       /* X,Y . The Lower The left/top */
    opacity: 0.15;
}

.footer-grid a {
    color: white;
    text-decoration: none;
}

.footer-logo {
    grid-area: logo;
    display: flex;
    justify-content: end;
}

.footer-logo a img {
    width: 170px;
}

.footer-social{
    grid-area: social;
    display: grid;
    justify-self: right;
    align-self: center;
}

.footer-social ul {
    width: fit-content;
    height: fit-content;

}

.socials{
    display: flex;
    justify-content: end;
    gap: 0.65rem;
}

.social-icons {
    fill: var(--clr-neutral-100);
    height: 1.5rem;
    width: 1.65rem;
}

.social-icons:is(:hover, :focus){
    fill: var(--clr-accent-400);
}

.socials li {
    display: inline-block;
}

.footer-logo-icon {
    width: 175px;
    height: 50px;
}

.footer-nav {
    grid-area: nav;
}

.footer-nav nav {
    display: grid;
    grid-template-columns: .9fr 1.2fr;
    grid-template-areas:
    "ul1 ul2"
    ;
}

.footer-nav a:hover,
.footer-nav a:focus-visible {
    color: var(--clr-accent-400);
}

.footer-nav .ul1 {
    grid-area: ul1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-nav .ul2 {
    grid-area: ul2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-form {
    grid-area:form;
    width: min(500px, 100%);
}

.footer-form form {
    display: flex;
    width: 100%;
}

.footer-form input {
    border-radius: 20px;
    height: 2.5em;
    width: 100%;
}

.form-button {
    border: 0;
    border-radius: 80px;
    padding: 0.5em 1.5em;
    margin-left: 5px;
    color: var(--clr-neutral-100);
    background: var(--clr-accent-400);
}

.footer-copy {
    grid-area: copy;
    display: grid;
    padding-left: 15px;
    align-items: end;
    justify-content: center ;
}

.footer-copy p {
    font-size: 100%;
    font-weight: none;
    text-align: center;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 3fr 2fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
        "logo null  nav form"
        "social null nav copy"
    ;
}

.images-blob-1::after {
    content: "";
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 650px;
    aspect-ratio: 1;
    z-index: -1;
    background: url(images/bg-tablet-pattern.svg) no-repeat;
    background-position: bottom left;
    opacity: 80%;
}

.images-blob-2::after {
    content: "";
    position: absolute;
    top: 60rem;
    left: -19rem;
    width: 650px;
    aspect-ratio: 1;
    z-index: -1;
    background: url(images/bg-tablet-pattern.svg) no-repeat;

    background-position: top right;
    opacity: 80%;
}



@media (max-width: 1050px) {

    :root{
        --max-width: 1050px ;
        --padding: 11rem;
    }

    .container{
        width: min(var(--max-width), 100% - (var(--padding)));
    }

    .container h2, .container p {
       text-align: center;
    }

    /* Utility Classes */

    .padding-block-750{
        padding: 3rem 0.5rem 1rem;
    }

    .even-columns{
        display: block;
    }

    .more-columns {
        display: grid;
        gap: 1rem;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-areas:
            "heading"
            "null"
            "button"
        ;
    }


    /* general styling */

    .primary-navigation {
        display: none;
        position: fixed;
        z-index: 2;
        inset: 5.5rem var(--size-400) auto;
        max-width: 35rem;
        margin-inline: auto;
        background: var(--clr-neutral-100);
        border-radius: var(--size-100);
        padding: var(--size-700);
        box-shadow: 0 0 0.75em 0 rgb(0, 0, 0, 0.05);
    }


    .primary-header[data-overlay]::after {
        content: "";
        position: fixed;
        z-index: 1;
        inset: 0;
        height: 100vh;
        background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
    }

    .nav-list{
        display: grid;
        gap: var(--size-600);
        font-weight: var(--fw-bold);
    }

    .nav-list a {
        text-decoration: none;
        color: var(--clr-primary-400);
    }

    .nav-list a:hover,
    .nav-list a:focus {
        color: var(--clr-accent-400);
    }

    .nav-wrapper {
        justify-content: space-between ;
    }

    .opened{
        display: grid;
        place-content: center;
    }

    .hidden-sm {
        display: none;
    }

    .mobile-nav-toggle {
        display: block;
        position: fixed;
        z-index: 2;
        top: var(--size-600);
        right: var(--size-400);
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
        margin: 5px 0 0 ;
    }

    .icon-close{
        display: none;
    }

    .Hero-grid {
        flex-direction: column;
    }

    .Hero-grid-div1 > * {
        text-align: center;
    }

    .Hero-grid-div1 > p {
        padding: 0;
    }

    .features {
        position: relative ;
        margin: 0 auto;
    }

    .features-heading {
        padding-right: 0;
    }

    .features-heading > * {
        text-align: center;
    }

    .features-heading p{

        padding-right: 0;
    }

    .features h3 {
        display: flex;
        width: fit-content;
        position: relative;
        margin: 0 auto;
        line-height: 1.2;
    }

    .features p {
        padding-right: 0;
        max-width: 50ch;
        text-align: justify;
        grid-column: 1 / 3;
    }

    .slider > * {
        flex: 0 0 auto;
        width: 100%;
    }

    .slider p {
        width: max(19rem, 60vw) ;
    }


    .cta::after {
        background-size: 600px;
        background-position: 0rem 0rem;     /* (right/left , top/bottom) */
        opacity: 0.25;
    }

    .footer-grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 0.3fr 1fr;
        place-items: center ;
        gap: 1rem;
        grid-template-areas:
            "form"
            "nav"
            "social"
            "logo"
            "copy"
        ;
    }

    .footer-form ,.footer-form input {
        border-radius: 30px;
        height: 3.5em;
    }

    .form-button {
        margin-left: 5px;
        padding: 0.7em 1.8em;
    }

    .footer-copy{
        grid-area: copy;
    }

    .footer-nav nav {
        gap: 7rem;
    }

    .footer-social {
        justify-self: center;
    }

    .socials{
        display: flex;
        justify-items: start;
        gap: 10%;
        font-size: 20rem ;
    }

    .social-icons {
        width: 3.5rem ;
        height: 4rem ;
    }

    .footer-logo-icon {
        width: 220px;
        margin-top: 40px;
    }


.menu-button {
    background-color: transparent;
    border: none;
    width: 40px;
    padding: 0.55rem;
    justify-content: start;
    align-items: center;
}

.menu-icon {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.2rem;
}

.menu-icon1, .menu-icon2, .menu-icon3{
    background-color: var(--clr-primary-400);
    width: 30px;
    height: 4px;
    border-radius: 5px;
    transition: all 0.5s;
}

:is(.menu-button:hover, .menu-button:focus-within) .menu-icon{
    animation-name: menuIconSpin;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform-origin: center;
}

:is(.menu-button:hover, .menu-button:focus-within) .menu-icon2{
    background-color: transparent;
}

:is(.menu-button:hover, .menu-button:focus-within) .menu-icon1 {
    transform: translateY(5px) rotate(45deg);
}

:is(.menu-button:hover, .menu-button:focus-within) .menu-icon3 {
    transform: translateY(-10px) rotate(-45deg);
}

:is(mobile-nav-toggle:hover, mobile-nav-toggle:focus-within) nav {
    display: block;
}

@keyframes menuIconSpin{
    0%{
        transform: rotate(0deg)
    }

    100%{
        transform: rotate(360deg)
    }
}


.images-blob-1::after {
    top: 0rem;
    right: 0rem;
    width: 300px;
    aspect-ratio: 1;
    z-index: -1;

}

.images-blob-2::after {
    top: 70rem;
    left: -20rem;
}

}